<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trace Address</title>
</head>
<body>
    <h2>Subsequent Transactions for Address: {{ address }}</h2>

    <ul>
        {% for transaction in transactions %}
            <li>
                <p><strong>Transaction ID:</strong> {{ transaction.transaction_id }}</p>
                <p><strong>Date:</strong> {{ transaction.date }}</p> 
				<p><strong>Amount (BTC):</strong> {{ transaction.out[0].value / 100000000 }}</p>
				<p><strong>Amount (USD):</strong> {{ transaction.usd_value }}</p>

				<h3>Inputs:</h3>
				<ul>
					{% for input in transaction.inputs %}
						<li>
							<strong>Address:</strong> {{ input.prev_out.addr }}<br>
							<strong>Value:</strong> {{ input.prev_out.value / 100000000 }}
						</li>
					{% endfor %}
				</ul>

				<h3>Outputs:</h3>
				<ul>
					{% for output in transaction.out %}
						<li>
							<strong>Address:</strong> {{ output.addr }}<br>
							<strong>Value:</strong> {{ output.value / 100000000 }}
						</li>
					{% endfor %}
				</ul>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
