<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
</head>
<body>
    <h2>Transaction Details:</h2>

    <p><strong>Transaction Hash:</strong> {{ transaction_data.hash }}</p>
    <p><strong>Amount (BTC):</strong> {{ transaction_data.out[0].value / 100000000 }}</p>
    <p><strong>Date of Transaction:</strong> {{ transaction_data.time | timestamp_to_datetime }}</p>

    <h3>Inputs:</h3>
    <ul>
        {% for input in transaction_data.inputs %}
            <li>
                <strong>Address:</strong> {{ input.prev_out.addr }}<br>
                <strong>Value:</strong> {{ input.prev_out.value / 100000000 }}
            </li>
        {% endfor %}
    </ul>

    <h3>Outputs:</h3>
    <ul>
        {% for output in transaction_data.out %}
            <li>
                <strong>Address:</strong> {{ output.addr }}<br>
                <strong>Value:</strong> {{ output.value / 100000000 }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
